.header {
  @extend .container;
  display: flex;
  align-items: center;

  margin-bottom: 29px;
}

.header__link {
  margin-right: 70px;

  font-family: $mainFont;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  color: $menuColor;
}

.header__link:hover {
  color: $hoverColor;
}

.header__input {
  min-width: 350px;
  min-height: 32px;
  padding-left: 48px;

  background: $backgroundColor;
  border: none;
  border-radius: 4px;

  font-family: $mainFont;
  font-size: 14px;
  line-height: 1.21;
  color: $menuColor;
}

.header__input::placeholder {
  font-family: $mainFont;
  font-size: 14px;
  line-height: 1.21;
  color: $menuColor;
}

.header__search_button {
  width: 30px;
  height: 25px;

  cursor: pointer;
  background: none;
  border: none;

  position: absolute;
  transform: translate(180px, 4px);
}

.header__search_button:hover,
.header__burger_button:hover,
.header__burger_cross_icon:hover {
  fill: $hoverColor;
}

.header__burger_button {
  width: 40px;
  height: 30px;
  margin-left: auto;

  cursor: pointer;
  background: none;
  border: none;
}

.header__burger_cross_icon {
  position: absolute;
  transform: translate(-7px, -6px);
}

.hide {
  display: none;
}
