.menu_area {
  display: block;
  position: relative;
  overflow: hidden;
  margin-left: 91px;
  width: 340px;
}

.menu__list {
  display: flex;
  align-items: center;
  width: 264px;
  position: relative;
  right: 0px;

  transition: right 400ms;
}

.menu__list_hidden {
  display: flex;
  align-items: center;
  position: relative;
  right: -400px;
}

.menu__item {
  font-family: $mainFont;
  font-size: 14px;
  line-height: 1.21;
  color: $menuColor;
}

.menu__link {
  cursor: pointer;
  background: none;
  border: none;
  color: $menuColor;
}

.menu__link:hover {
  color: $hoverColor;
}

.menu__item:not(:last-child) {
  margin-right: 60px;
}

.categories_active {
  color: $hoverColor;
}

.categories_menu__area {
  // border: 1px solid green;
  position: absolute;
  transform: translate(540px, 76px);
  width: 230px;
  height: 120px;

  overflow: hidden;
}

.categories_menu {
  width: 220px;
  height: 113px;
  margin: auto;

  position: relative;
  top: 0px;

  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: top 400ms;

  background-image: url(../img/bg.png);
  background-position: center;
}

.categories_menu__hidden {
  position: relative;
  top: -120px;
}

.categories_menu__list {
  -moz-column-count: 2; /* Firefox */
  -webkit-column-count: 2; /* Safari and Chrome */
}
.categories_menu__item {
  margin-left: 30px;
}

.categories_menu__link {
  font-family: $mainFont;
  font-size: 14px;
  line-height: 1.5;
  color: $menuColor;
}

.categories_menu__link:hover {
  color: $hoverColor;
}
