.menu_area {
  display: block;
  position: relative;
  overflow: hidden;
  margin-left: 91px;
  width: 340px;

  //   border: 1px solid green;
}

.menu__list {
  display: flex;
  align-items: center;
  width: 264px;
  position: relative;
  right: 0px;

  transition: right 400ms;
}

.menu__list_hidden {
  display: flex;
  align-items: center;
  position: relative;
  right: -335px;
}

.menu__item {
  font-family: $mainFont;
  font-size: 14px;
  line-height: 1.21;
  color: $menuColor;
}

.menu__link {
  cursor: pointer;
  background: none;
  border: none;
  color: $menuColor;
}

.menu__link:hover {
  color: $hoverColor;
}

.menu__item:not(:last-child) {
  margin-right: 60px;
}
